<%= stylesheet_link_tag 'message', media: 'all', 'data-turbolinks-track': 'reload', id:'message_style' %>
<section class="msger">
  <header class="msger-header">
    <div class="msger-header-title">
      <i class="fas fa-comment-alt"></i> Chat
    </div>
    <div class="msger-header-options">
      <span><i class="fas fa-cog"></i></span>
    </div>
  </header>
  <main class="msger-chat">
    <% @messages.each do |message| %>
      <% if message.body %>
        <% user = User.find(message.user_id) %>
        <% if current_user != user %>
          <div class="msg left-msg">
            <% if user.profile_img_url != nil && user.provider != "facebook"%>
              <img src="<%= user.profile_img_url %>" id= "img"  class="msg-img" style="max-width: 2em; max-height: 2em;">
            <% else %>
              <%= image_tag("avatar.svg",class:"msg-img",style:"max-width: 2em; max-height: 2em;") %>
            <% end %>
            
            <div class="msg-bubble">
              <div class="msg-info">
                <div class="msg-info-name"><%= user.username%></div>
                <div class="msg-info-time"><%= message.message_time%></div>
              </div>
              <div class="msg-text">
                <%= message.body%>
              </div>
            </div>
          </div>
        <% else %>
          <div class="msg right-msg">
            <% if user.profile_img_url != nil && user.provider != "facebook"%>
              <img src="<%= user.profile_img_url %>" id= "img"  class="msg-img" style="max-width: 2em; max-height: 2em;">
            <% else %>
              <%= image_tag("avatar.svg",class:"msg-img",style:"max-width: 2em; max-height: 2em;") %>
            <% end %>
            <div class="msg-bubble">
              <div class="msg-info">
                <div class="msg-info-name"><%= user.username%></div>
                <div class="msg-info-time"><%= message.message_time%></div>
              </div>
              <div class="msg-text">
                <%= message.body%>
              </div>
            </div>
          </div>
        <%end %>
      <%end %>
    <%end %>
  </main>
  <%= form_for [@conversation, @message], html: { class: "msger-inputarea" } do |f| %>
    <%= f.text_field :body, class: "msger-input", placeholder: "Scrivi un messaggio..." %>
    <%= f.text_field :user_id, value: current_user.id, type: "hidden" %>
    <%= f.submit "Invia" ,id:"submitMessage", class: "msger-send-btn" %>
  <% end %>
</section>
