<%= stylesheet_link_tag 'edit_appunto', media: 'all', 'data-turbolinks-track': 'reload' %>
<h1 class="text-center">Modifica Appunto</h1>
<div class="container">
  <%= form_for @note, url: note_path(@note), method: :patch, class: "container" do |f| %>
    <div class="field mb-3">
      <%= f.label :name, style: "color:white;font-weight: bold;"%>
      <%= f.text_field :name, value: @note.name, class: "form-control", maxlength: 40%>
    </div>
    <div class="field mb-3">
      <%= f.label :description, class: "form-label", style: "color:white;font-weight: bold;" %>
      <%= f.text_area :description, value: @note.description, class: "form-control" %>
    </div>
    <%= form_tag(notes_path, multipart: true) do %>
      <div class="mb-3">
        <%= f.label :tags, class: "form-label" ,style: "color:white; font-weight: bold;" %>
        <div class="search-tag">
          <div class="search-wrapper">
            <input type="text" name="" id="search-tag" class="search-input" autocomplete="off" placeholder="Cerca Tag...">
            <%= image_tag("search2.svg",id: "search-btn1",class: "search-icon") %>
          </div>
        </div>
        <div class="custom-dropdown">
          <div class="options-container">
            <ul class="options-list1">
              <% Tag.all.each do |tag| %>
                <li>
                  <div class="tag-all check">
                    <%= check_box_tag "note[tag_ids][]", tag.id, @note.tags.include?(tag) %>
                     <span class="__name" style="cursor:pointer;"><%= tag.name %></span>
                  </div>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
      <div class="mb-3">
        <%= f.label :topics, class: "form-label" ,style: "color:white; font-weight: bold;" %>
        <div class="search-topic" style="margin-top:10px">
          <div class="search-wrapper">
            <input type="text" name="" id="search-topic" class="search-input" autocomplete="off" placeholder="Cerca Topic...">
            <%= image_tag("search2.svg",id: "search-btn2",class: "search-icon") %>
          </div>
        </div>
        <div class="custom-dropdown">
          <div class="options-container">
            <ul class="options-list2">
              <% Topic.all.each do |topic| %>
                <li>
                  <div class="topic-all check">
                    <%= check_box_tag "note[topic_ids][]", topic.id, @note.topics.include?(topic) %>
                     <span class="__name" style="cursor:pointer;"><%= topic.name %></span>
                  </div>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
      <div class="mb-3">
        <div class="div-field">
          <%= f.label :faculty_id, "Facoltà", style: "color: white;" %>
          <%= f.collection_select :faculty_id, Faculty.all, :id, :name, prompt: "Seleziona una facoltà", style: "font-weight: bold;" %>
        </div>
      </div>
      <div class="actions">
        <%= f.submit "Salva modifiche" , class:"btn",style: "color:white;font-weight: bold;" %>
        <%= link_to "Torna all'appunto", @note, class:"btn",style: "color:white;font-weight: bold;" %>
      </div>
    <% end %>
  <% end %>
</div>
<script>
  document.addEventListener("DOMContentLoaded", function() {
    const search_tag = document.getElementById("search-tag");
    const search_topic = document.getElementById("search-topic");

    const search_tag_btn = document.getElementById("search-btn1");
    const search_topic_btn = document.getElementById("search-btn2");

    search_tag_btn.addEventListener("click",function(){

      $.ajax({
        type: 'POST',
        url: "/tags/search",
        data: {tag : search_tag.value},
        dataType: 'json',
        success: function(data) {
          const optionsList = document.querySelector(".options-list1");


          const checkedCheckboxes = optionsList.querySelectorAll("input[type='checkbox']:checked");
          optionsList.innerHTML = "";

          checkedCheckboxes.forEach(function(checkbox) {
            const parentDiv = checkbox.closest("li");
            optionsList.appendChild(parentDiv);
          });

          data.forEach(function(tag) {
            let isDuplicate = false;
            optionsList.querySelectorAll("span.__name").forEach(function(existingTag) {
              if (existingTag.textContent.trim() === tag.name) {
                isDuplicate = true;
              }
            });

            if (!isDuplicate) {
              const li = document.createElement("li");
              li.innerHTML = `
                <div class="tag-all check">
                  <input type="checkbox" name="note[tag_ids][]" value="${tag.id}" />
                  <span class="__name" style="cursor:pointer;">${tag.name}</span>
                </div>
              `;
              optionsList.appendChild(li);
            }
          });
        },
        error: function() {
          alert("Erroreeee");
        }
      });
    })


    search_topic_btn.addEventListener("click",function(){

      $.ajax({
        type: 'POST',
        url: "/topics/search",
        data: {topic : search_topic.value},
        dataType: 'json',
        success: function(data) {
         const optionsList = document.querySelector(".options-list2");


          const checkedCheckboxes = optionsList.querySelectorAll("input[type='checkbox']:checked");

          optionsList.innerHTML = "";

          checkedCheckboxes.forEach(function(checkbox) {
            const parentDiv = checkbox.closest("li");
            optionsList.appendChild(parentDiv);
          });

          data.forEach(function(topic) {
            let isDuplicate = false;
            optionsList.querySelectorAll("span.__name").forEach(function(existingTopic) {
              if (existingTopic.textContent.trim() === topic.name) {
                isDuplicate = true;
              }
            });

            if (!isDuplicate) {
              const li = document.createElement("li");
              li.innerHTML = `
                <div class="tag-all check">
                  <input type="checkbox" name="note[tag_ids][]" value="${topic.id}" />
                  <span class="__name" style="cursor:pointer;">${topic.name}</span>
                </div>
              `;
              optionsList.appendChild(li);
            }
          });
        },
        error: function() {
          alert("Erroreeee");
        }
      });
    })
  })
</script>
<script>
  document.addEventListener("DOMContentLoaded", function() {
    const checks = document.querySelectorAll(".check");

    checks.forEach(function(check){
      var box = check.firstElementChild;
      box.style.cursor="pointer"
      check.style.cursor="pointer"
      check.addEventListener("click",function(){
        if(box.checked == true){
          box.checked = false
        }
        else{
          box.checked = true
        }
      })
      box.addEventListener("click",function(){
        if(box.checked == true){
          box.checked = false
        }
        else{
          box.checked = true
        }
      })
    })
  });
</script>
