<%= stylesheet_link_tag 'ricerca', media: 'all', 'data-turbolinks-track': 'reload' %>
<div class="container">
  <h1 class="mt-5">I miei appunti</h1>
  <% current_user.notes.each do |note| %>
    <script>
      $(document).ready(function() {
        $(".card").click(function() {
          var note_id = this.id;
          window.location.href =  "/notes/" + note_id;
        });
      });
    </script>
    <div id="<%=note.id%>"class="card my-4">
      <div class="card-body">
          <div class="d-flex justify-content-between align-items-center mb-2">
            <h4 class="card-title mb-0">
              <p><%= note.name %></p>
            </h4>
            <% file_extension = note.format %>
            <% if file_extension == ".pdf" || file_extension == ".docx"%>
              <%= inline_svg_tag("file.svg", style: "margin-bottom:30px;") %>
            <% end %>
            <% if ['.mp4', '.avi', '.mov'].include?(file_extension.downcase) %>
              <%= image_tag("video.png", style: "width:35px;height:35px;margin-bottom:30px;") %>
            <% end %>
            <div class="d-flex align-items-center gap-2 mb-2 BottoniStella ">
              <% Note::MAX_RATING.times do |n| %>
                <%= inline_svg_tag("star.svg", class: "w-8 h-8 #{star_rating_class(note, n)}") %>
              <% end %>
            </div>
          </div>
          <% truncated_description = truncate(note.description, length: 650) %>
          <p class="card-text">
            <span class="truncated"><%= truncated_description %></span>
            <% if note.description.length > 650 %>
              <a href="#" class="read-more" data-full-content="<%= note.description %>">Mostra altro</a>
            <% end %>
          </p>
          <p class="card-text"> Autore: <%= note.user.username %></p>
          <%= link_to  remove_note_path(note), method: :delete, style: "text-decoration: none;", style: "text-decoration: none;", data: { confirm: 'Sei sicuro di voler eliminare l\'appunto?' } do%>
            <%= image_tag("delete.svg",style: "width: 20px; height: 20px; ") %>
          <% end %>
          <%= link_to  note.google_drive_link do%>
            <%= image_tag("Google_Drive_logo.png",style: "width: 20px; height: 20px;") %>
          <% end %>
        </div>
    </div>
  <% end %>
</div>
<script>
  document.addEventListener("DOMContentLoaded", function() {
      var readMoreLinks = document.getElementsByClassName("read-more");

      Array.from(readMoreLinks).forEach(function(link) {
        link.addEventListener("click", function(event) {
          event.preventDefault();
          var contentElement = this.parentNode.querySelector(".truncated");
          contentElement.textContent = this.getAttribute("data-full-content");
          this.parentNode.removeChild(this);
        });
      });
    });
</script>
