<%= stylesheet_link_tag 'crea_appunto', media: 'all', 'data-turbolinks-track': 'reload' %>
<% if params[:alert].present? %>
  <%= content_tag(:div, params[:alert][:success],style: "margin-bottom: -50px", class: "alert alert-info fade show", data: { dismiss: "alert", timeout: 3000 }) %>
<% end %>
<div class="container">
  <%= form_with(model: @note, url: notes_path, multipart: true, class: "container") do |form| %>
    <% if params[:file_id] != nil && params[:file_name]!= nil %>
      <%= link_to "/notes/new" ,style: "text-decoration:none;" do%>
        <div class="google_drive_container">
          <%= image_tag "Google_Drive_logo.png",class:"google_drive_logo" %>
          <p class="drive_p">Deseleziona file</p>
        </div>
      <% end %>
    <% else %>
      <%= link_to your_file_path ,style: "text-decoration:none;" do%>
        <div class="google_drive_container">
          <%= image_tag "Google_Drive_logo.png",class:"google_drive_logo" %>
          <p class="drive_p">Seleziona un file dal tuo Google Drive</p>
        </div>
      <% end %>
    <% end %>
    <div class="mb-3">
      <%= file_name = nil %>
      <% if params[:file_id] != nil && params[:file_name]!= nil %>
        <% file_name = params[:file_name] %>
      <% end %>
      <%= form.label :name, class: "form-label",style: "font-weight: bold;" %>
      <%= form.text_field :name, class: "form-control",value: file_name, placeholder: "Inserisci il nome", required: true, maxlength: 40 %>
    </div>
    <div class="mb-3">
      <%= form.label :description, class: "form-label" ,style: "font-weight: bold;"%>
      <%= form.text_area :description, class: "form-control", placeholder: "Inserisci la descrizione", required: true %>
    </div>
    <div class="mb-3">
      <% if params[:file_id] != nil && params[:file_name] != nil %>
        <%= hidden_field_tag :file_id, params[:file_id] %>
        <%= hidden_field_tag :file_name, params[:file_name] %>
        <%= form_tag(notes_path, multipart: true) do %>
          <div class="mb-3">
            <%= form.label :tags, class: "form-label" ,style: "font-weight: bold;"%>
            <div class="custom-dropdown">
              <div class="options-container">
                <ul class="options-list">
                  <% Tag.all.each do |tag| %>
                    <li>
                      <label>
                        <%= check_box_tag "note[tag_ids][]", tag.id, @note.tags.include?(tag) %>
                        <%= tag.name %>
                      </label>
                    </li>
                  <% end %>
                </ul>
              </div>
            </div>
          </div>
          <div class="mb-3">
            <%= form.label :topics, class: "form-label" ,style: "font-weight: bold;"%>
            <div class="custom-dropdown">
              <div class="options-container">
                <ul class="options-list">
                  <% Topic.all.each do |topic| %>
                    <li>
                      <label>
                        <%= check_box_tag "note[topic_ids][]", topic.id, @note.topics.include?(topic) %>
                        <%= topic.name %>
                      </label>
                    </li>
                  <% end %>
                </ul>
              </div>
            </div>
          </div>
          <div class="mb-3">
            <div class="div-field">
              <label for="faculty_id">Facoltà</label>
              <%= form.collection_select :faculty_id, Faculty.all, :id, :name, prompt: "Seleziona una facoltà",style: "font-weight: bold;"%>
            </div>
          </div>
          <%= form.submit "Carica", class: "btn btn-primary" %>
        <% end %>
      <% else %>
        <%= form.label :file, class: "form-label" ,style: "font-weight: bold;"%>
        <%= form_tag(notes_path, multipart: true) do %>
          <%= file_field_tag :file,class: "form-control" , required: true %>
          <div class="mb-3">
            <%= form.label :tags, class: "form-label" ,style: "font-weight: bold;"%>
            <div class="custom-dropdown">
              <div class="options-container">
                <ul class="options-list">
                  <% Tag.all.each do |tag| %>
                    <li>
                      <label>
                        <%= check_box_tag "note[tag_ids][]", tag.id, @note.tags.include?(tag) %>
                        <%= tag.name %>
                      </label>
                    </li>
                  <% end %>
                </ul>
              </div>
            </div>
          </div>
          <div class="mb-3">
            <%= form.label :topics, class: "form-label" ,style: "font-weight: bold;"%>
            <div class="custom-dropdown">
              <div class="options-container">
                <ul class="options-list">
                  <% Topic.all.each do |topic| %>
                    <li>
                      <label>
                        <%= check_box_tag "note[topic_ids][]", topic.id, @note.topics.include?(topic) %>
                        <%= topic.name %>
                      </label>
                    </li>
                  <% end %>
                </ul>
              </div>
            </div>
          </div>
          <div class="mb-3">
            <div class="div-field">
              <label for="faculty_id">Facoltà</label>
              <%= form.collection_select :faculty_id, Faculty.all, :id, :name, prompt: "Seleziona una facoltà",style: "font-weight: bold;"%>
            </div>
          </div>
          <%= form.submit "Carica", class: "btn btn-primary" %>
        <% end %>
      <% end %>
    <% end %>
  </div>
