<%= stylesheet_link_tag 'crea_appunto', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= stylesheet_link_tag 'progress_bar', media: 'all', 'data-turbolinks-track': 'reload' %>

<% if params[:alert].present? %>
  <%= content_tag(:div, params[:alert][:success],style: "margin-bottom: -50px", class: "alert alert-info fade show", data: { dismiss: "alert", timeout: 3000 }) %>
<% end %>
<div class="container">
  <%= form_with(id:"form",model: @note, url: notes_path, multipart: true, class: "container") do |form| %>
    <% if params[:file_id] != nil && params[:file_name]!= nil %>
      <%= link_to "/notes/new" ,style: "text-decoration:none;" do%>
        <div class="google_drive_container">
          <%= image_tag "Google_Drive_logo.png",class:"google_drive_logo" %>
          <p class="drive_p">Deseleziona file</p>
        </div>
      <% end %>
    <% else %>
      <%= link_to your_file_path ,style: "text-decoration:none;" do%>
        <div class="google_drive_container">
          <%= image_tag "Google_Drive_logo.png",class:"google_drive_logo" %>
          <p class="drive_p">Seleziona un file dal tuo Google Drive</p>
        </div>
      <% end %>
    <% end %>
    <div class="mb-3">
      <%= file_name = nil %>
      <% if params[:file_id] != nil && params[:file_name]!= nil %>
        <% file_name = params[:file_name] %>
      <% end %>
      <%= form.label :name, class: "form-label",style: "color:white;font-weight: bold;" %>
      <%= form.text_field :name, class: "form-control",value: file_name, placeholder: "Inserisci il nome", maxlength: 40 %>
    </div>
    <div class="mb-3">
      <%= form.label :description, class: "form-label" ,style: "color:white;font-weight: bold;"%>
      <%= form.text_area :description, class: "form-control", placeholder: "Inserisci la descrizione"%>
    </div>
    <div class="mb-3">
      <% if params[:file_id] != nil && params[:file_name] != nil %>
        <%= hidden_field_tag :file_id, params[:file_id] %>
        <%= hidden_field_tag :file_name, params[:file_name] %>
        <%= form_tag(notes_path, multipart: true) do %>
          <div class="mb-3">
            <%= form.label :tags, class: "form-label" ,style: "color:white; font-weight: bold;"%>
             <div class="search-tag">
              <div class="search-wrapper">
             <input type="text" name="" id="search-tag" class="search-input" autocomplete="off" placeholder="Cerca Tag...">
              <%= image_tag("search2.svg",id: "search-btn1",class: "search-icon") %>
              </div>
            </div>
            <div class="custom-dropdown" >
              <div class="options-container">
                <ul class="options-list1">
                  <% Tag.all.each do |tag| %>
                    <li>
                      <div class="tag-all check">
                        <%= check_box_tag "note[tag_ids][]", tag.id, @note.tags.include?(tag) %>
                        <span class="__name" style="cursor:pointer;"><%= tag.name  %></span>
                      </div>
                    </li>
                  <% end %>
                </ul>
              </div>
            </div>
          </div>
          <div class="mb-3"  >
            <%= form.label :topics, class: "form-label" ,style: "color:white; font-weight: bold;"%>
            <div class="search-topic" style="margin-top:10px">
              <div class="search-wrapper">
             <input type="text" name="" id="search-topic" class="search-input" autocomplete="off" placeholder="Cerca Topic...">
              <%= image_tag("search2.svg",id: "search-btn2",class: "search-icon") %>
              </div>
            </div>
            <div class="custom-dropdown" >
              <div class="options-container">
                <ul class="options-list2">
                  <% Topic.all.each do |topic| %>
                    <li>
                      <div class="topic-all check">
                        <%= check_box_tag "note[topic_ids][]", topic.id, @note.topics.include?(topic) %>
                        <span class="__name" style="cursor:pointer;"><%= topic.name%></span>
                      </div>
                    </li>
                  <% end %>
                </ul>
              </div>
            </div>
          </div>
          <div class="mb-3">
            <div class="div-field">
              <label for="faculty_id" style="color:white;">Facoltà</label>
              <%= form.collection_select :faculty_id, Faculty.all, :id, :name, prompt: "Seleziona una facoltà",style: "font-weight: bold;"%>
            </div>
          </div>
          <%= form.submit "Carica", class: "btn btn-primary" %>
          <div class="cssload-zenith" id="load" style="margin-top:50px;display:none;" ></div>
        <% end %>
      <% else %>
        <%= form.label :file, class: "form-label" ,style: "color:white;font-weight: bold;"%>
        <%= form_tag(notes_path, multipart: true) do %>
          <%= file_field_tag :file,class: "form-control" , required: true,accept: ".pdf, .docx, .mp4, .mov, .avi" %>
          <div class="mb-3" style="margin-top:30px">
            <%= form.label :tags, class: "form-label" ,style: "color:white;font-weight: bold;"%>
            <div class="search-tag">
              <div class="search-wrapper">
             <input type="text" name="" id="search-tag" class="search-input" autocomplete="off" placeholder="Cerca Tag...">
              <%= image_tag("search2.svg",id: "search-btn1",class: "search-icon") %>
              </div>
            </div>
            <div class="custom-dropdown">
              <div class="options-container">
                <ul class="options-list1">
                  <% Tag.all.each do |tag| %>
                    <li>
                      <div class="tag-all check" >
                        <%= check_box_tag "note[tag_ids][]", tag.id, @note.tags.include?(tag),id: "tag"+tag.id.to_s %>
                        <span class="__name" style="cursor:pointer;"><%= tag.name %></span>
                      </div>
                    </li>
                  <% end %>
                </ul>
              </div>
            </div>
          </div>
          <div class="mb-3">
            <%= form.label :topics, class: "form-label" ,style: "color:white;font-weight: bold;"%>
            <div class="search-topic" style="margin-top:10px">
              <div class="search-wrapper">
             <input type="text" name="" id="search-topic" class="search-input" autocomplete="off" placeholder="Cerca Topic...">
              <%= image_tag("search2.svg",id: "search-btn2",class: "search-icon") %>
              </div>
            </div>
            <div class="custom-dropdown">
              <div class="options-container">
                <ul class="options-list2">
                  <% Topic.all.each do |topic| %>
                    <li>
                      <div class="topic-all check">
                        <%= check_box_tag "note[topic_ids][]", topic.id, @note.topics.include?(topic),id: "topic"+topic.id.to_s %>
                        <span class="__name" style="cursor:pointer;"><%= topic.name%></span>
                      </div>
                    </label>
                  </li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
        <div class="mb-3">
          <div class="div-field">
            <label for="faculty_id " class="fw-bold" style="color:white;">Facoltà</label>
            <%= form.collection_select :faculty_id, Faculty.all, :id, :name, prompt: "Seleziona una facoltà",style: "font-weight: bold;"%>
          </div>
        </div>
        <div class="load">
          <%= form.submit "Carica",id:"carica" ,class: "btn btn-primary" %>
          <div class="cssload-zenith" id="load"  style="margin-right:1100px;display:none;"></div>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>
<script>
  document.addEventListener("DOMContentLoaded", function() {
    const search_tag = document.getElementById("search-tag");
    const search_topic = document.getElementById("search-topic");

    const search_tag_btn = document.getElementById("search-btn1");
    const search_topic_btn = document.getElementById("search-btn2");

    search_tag_btn.addEventListener("click",function(){

      $.ajax({
        type: 'POST',
        url: "/tags/search",
        data: {tag : search_tag.value},
        dataType: 'json', // Imposta il tipo di dati atteso come JSON
        success: function(data) {
          // Aggiorna il contenuto della pagina con i dati ricevuti dal server
          const optionsList = document.querySelector(".options-list1");


          const checkedCheckboxes = optionsList.querySelectorAll("input[type='checkbox']:checked");

          // Rimuovi tutti gli elementi dalla lista tranne quelli con casella spuntata
          optionsList.innerHTML = "";

          checkedCheckboxes.forEach(function(checkbox) {
            const parentDiv = checkbox.closest("li");
            optionsList.appendChild(parentDiv);
          });

          // Aggiungi nuovi elementi dalla ricerca
          data.forEach(function(tag) {
            let isDuplicate = false;
            optionsList.querySelectorAll("span.__name").forEach(function(existingTag) {
              if (existingTag.textContent.trim() === tag.name) {
                isDuplicate = true;
              }
            });

            if (!isDuplicate) {
              const li = document.createElement("li");
              li.innerHTML = `
                <div class="tag-all check">
                  <input type="checkbox" name="note[tag_ids][]" value="${tag.id}" />
                  <span class="__name" style="cursor:pointer;">${tag.name}</span>
                </div>
              `;
              optionsList.appendChild(li);
            }
          });
        },
        error: function() {
          alert("Erroreeee");
        }
      });
    })


    search_topic_btn.addEventListener("click",function(){

      $.ajax({
        type: 'POST',
        url: "/topics/search",
        data: {topic : search_topic.value},
        dataType: 'json', // Imposta il tipo di dati atteso come JSON
        success: function(data) {
          // Aggiorna il contenuto della pagina con i dati ricevuti dal server
         const optionsList = document.querySelector(".options-list2");


          const checkedCheckboxes = optionsList.querySelectorAll("input[type='checkbox']:checked");

          // Rimuovi tutti gli elementi dalla lista tranne quelli con casella spuntata
          optionsList.innerHTML = "";

          checkedCheckboxes.forEach(function(checkbox) {
            const parentDiv = checkbox.closest("li");
            optionsList.appendChild(parentDiv);
          });

          // Aggiungi nuovi elementi dalla ricerca
          data.forEach(function(topic) {
            let isDuplicate = false;
            optionsList.querySelectorAll("span.__name").forEach(function(existingTopic) {
              if (existingTopic.textContent.trim() === topic.name) {
                isDuplicate = true;
              }
            });

            if (!isDuplicate) {
              const li = document.createElement("li");
              li.innerHTML = `
                <div class="tag-all check">
                  <input type="checkbox" name="note[tag_ids][]" value="${topic.id}" />
                  <span class="__name" style="cursor:pointer;">${topic.name}</span>
                </div>
              `;
              optionsList.appendChild(li);
            }
          });
        },
        error: function() {
          alert("Erroreeee");
        }
      });
    })
  })
</script>
<script>
  document.addEventListener("DOMContentLoaded", function() {
   const form = document.getElementById("form");
   const rotellina = document.getElementById("load");

   form.addEventListener("submit",function(){
     rotellina.style.display = "flex"

   })
  })
</script>
<script>
  document.addEventListener("DOMContentLoaded", function() {
    const checks = document.querySelectorAll(".check");

    checks.forEach(function(check){
      var box = check.firstElementChild;
      box.style.cursor="pointer"
      check.style.cursor="pointer"
      check.addEventListener("click",function(){
          if(box.checked == true){
          box.checked = false
        }
        else{
          box.checked = true
        }
      })
      box.addEventListener("click",function(){
        if(box.checked == true){
          box.checked = false
        }
        else{
          box.checked = true
        }
      })
    })
  });
</script>
