<%= stylesheet_link_tag 'ricerca', media: 'all', 'data-turbolinks-track': 'reload' %>

<% if @notes.present? %>
  <div class="container">
    <h1 class="mt-5">Risultati trovati</h1>
    <% @notes.each do |note| %>
      <div class="card my-4">
        <div class="card-body">
          <h4 class="card-title">
            <a href="<%= note.id %>"><%= note.name %></a>
          </h4>
          <p class="card-text"><%= note.description %></p>
          <p class="card-text">Utente: <%= note.user.name %></p>
          <a href="<%= note.google_drive_link %>" class="btn btn-primary">Link Google Drive</a>
        </div>
      </div>
    <% end %>
  </div>
<% else %>
  <div class="container">
    <h1 class="mt-5">Nessun risultato</h1>
  </div>
<% end %>