<%= stylesheet_link_tag 'ricerca', media: 'all', 'data-turbolinks-track': 'reload' %>
<% if @notes.present? %>
  <div class="container">
    <h1 class="mt-5">Risultati trovati</h1>
    <% @notes.each do |note| %>
      <div class="card my-4">
        <div class="card-body">
          <div class="d-flex justify-content-between align-items-center mb-2">
            <h4 class="card-title mb-0">
              <a href="<%= note.id %>"><%= note.name %></a>
            </h4>
            <% if current_user && current_user != note.user %>
              <div class="d-flex gap-1 mb-1 BottoniStella justify-content-start align-items-center">
                <% Note::MAX_RATING.times do |n| %>
                  <%= button_to note_path(note),
                  method: :patch,
                  params: { note: { rating: n + 1 } },
                  class: "border-0 bg-transparent d-flex justify-content-start BottoneSingolo" do %>
                    <%= inline_svg_tag("star.svg",
                    class: "w-8 h-8 #{star_rating_hover_class()} #{star_rating_class(note, n)}") %>
                  <% end %>
                <% end %>
                <% if @toast %>
                  <div class="toast show" role="alert" aria-live="assertive" aria-atomic="true" data-bs-autohide="true" data-bs-delay="3000">
                    <div class="toast-body bg-black text-white">
                      <% if @toast == :success %>
                        <%= inline_svg_tag("check.svg", class: "h-4 w-4 text-success me-2") %>
                        <span>Rating Added!</span>
                      <% else %>
                        <%= inline_svg_tag("warning.svg", class: "h-4 w-4 text-danger me-2") %>
                        <span>Rating could not be added</span>
                      <% end %>
                    </div>
                  </div>
                <% end %>
              </div>
            <% else %>
              <div class="d-flex gap-3 mb-4 stella justify-content-start align-items-center">
                <% Note::MAX_RATING.times do |n| %>
                  <%= inline_svg_tag("star.svg",
                    class: "w-8 h-8 #{star_rating_class(note, n)}") %>
                <% end %>
              </div>
            <% end %>
          </div>
          <% truncated_description = truncate(note.description, length: 650) %>
          <p class="card-text">
            <span class="truncated"><%= truncated_description %></span>
            <% if note.description.length > 650 %>
              <a href="#" class="read-more" data-full-content="<%= note.description %>">Mostra altro</a>
            <% end %>
          </p>
          <p class="card-text"> Autore: <%= link_to note.user.username, user_path(note.user), class: 'link' %></p>
          <% if current_user != note.user %>
            <% if current_user && current_user.favourite_notes.include?(note) %>
              <%= link_to remove_favourite_path(note_id: note.id), method: :delete ,style: "text-decoration: none;" do%>
                <%= inline_svg_tag("heart-fill.svg") %>
              <% end %>
            <% elsif current_user%>
              <%= link_to  add_favourite_path(note_id: note.id), method: :post ,style: "text-decoration: none;" do%>
                <%= inline_svg_tag("heart.svg") %>
              <% end %>
            <% end %>
          <% else %>
            <%= link_to  remove_note_path(note), method: :delete, style: "text-decoration: none;" do%>
              <%= image_tag("delete.svg",style: "width: 20px; height: 20px; ") %>
            <% end %>
          <% end %>
          <%= link_to  note.google_drive_link do%>
            <%= image_tag("Google_Drive_logo.png",style: "width: 20px; height: 20px;") %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
<% else %>
  <div class="container">
    <h1 class="mt-5">Nessun risultato</h1>
  </div>
<% end %>
<script>
  document.addEventListener("DOMContentLoaded", function() {
      var readMoreLinks = document.getElementsByClassName("read-more");

      Array.from(readMoreLinks).forEach(function(link) {
        link.addEventListener("click", function(event) {
          event.preventDefault();
          var contentElement = this.parentNode.querySelector(".truncated");
          contentElement.textContent = this.getAttribute("data-full-content");
          this.parentNode.removeChild(this);
        });
      });
    });
</script>
