<h1><strong>Name:</strong> <%= @note.name %></h1>
<h3><strong>Description:</strong> <%= @note.description %></h3>
<p><strong>Google Drive Link:</strong> <%= @note.google_drive_link %></p>
<p><strong>Autore:</strong> <%#= @note.users.name %></p>
<p><strong>Tags:</strong></p>
<ul>
  <% @note.tags.each do |tag| %>
    <li><%= tag.name %></li>
  <% end %>
</ul>

<p><strong>Topics:</strong></p>
<ul>
  <% @note.topics.each do |topic| %>
    <li><%= topic.name %></li>
  <% end %>
</ul>
