<p id="notice"><%= notice %></p>

<p>
  <strong>Id n:</strong>
  <%= @note.id_n %>
</p>

<p>
  <strong>User:</strong>
  <%= @note.user %>
</p>

<p>
  <strong>Ratingn:</strong>
  <%= @note.ratingn %>
</p>

<p>
  <strong>Text:</strong>
  <%= @note.text %>
</p>

<p>
  <strong>Relase date:</strong>
  <%= @note.relase_date %>
</p>

<%= link_to 'Edit', edit_note_path(@note) %> |
<%= link_to 'Back', notes_path %>
