<%= stylesheet_link_tag 'show', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= stylesheet_link_tag 'progress_bar', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= stylesheet_link_tag 'valutazione', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= stylesheet_link_tag 'message_card', media: 'all', 'data-turbolinks-track': 'reload' %>
<div class="container Pagina">
  <div style= "display: flex; flex-wrap: wrap; gap: 80px; justify-content: center;">
    <h1 class="fw-bold text-center mb-4" style="color:black;"><%= @note.name %></h1>
    <% if current_user != @note.user %>
      <% if current_user && current_user.favourite_notes.include?(@note) %>
        <%= link_to remove_favourite_path(note_id: @note.id), method: :delete ,style: "text-decoration: none;" do%>
          <%= inline_svg_tag("heart-fill.svg", style: "margin-top: 70%;") %>
        <% end %>
      <% elsif current_user%>
        <%= link_to  add_favourite_path(note_id: @note.id), method: :post ,style: "text-decoration: none;" do%>
          <%= inline_svg_tag("heart.svg", style: "margin-top: 70%;") %>
        <% end %>
      <% end %>
    <% else %>
      <%= link_to  remove_note_path(@note), method: :delete, style: "text-decoration: none;", data: { confirm: 'Sei sicuro di voler eliminare l\'appunto?' } do%>
        <%= image_tag("delete.svg",style: "width: 20px; height: 20px; margin-top: 80%;") %>
      <% end %>
      <%= link_to edit_note_path(@note), style:"text-decoration: none;" do%>
        <%= inline_svg_tag("edit.svg", style: "width: 20px; height: 20px; margin-top: 80%;") %>
      <% end %>
    <% end %>
  </div>
  <p class="text-center mb-4">
    <% date_string = @note.uploaded_at.to_s %>
    <% parsed_date = DateTime.parse(date_string) %>
    <% formatted_date = parsed_date.strftime("%d-%m-%Y") %>
    <%= formatted_date %>
  </p>
  <div class="monstraDescrizione_container">
    <button id="mostraDescrizione" class="btn text-center" style="background-color: #f77062;color:black;border: 3px solid black;border-radius: 80px">Mostra Descrizione</button>
  </div>
  <div class="description-box hidden" id="box">
    <h6 class="text-center mb-4 hidden" id="Descrizione"><%= @note.description %></h6>
  </div>
  <div class="note-details">
    <div class="track mb-4">
      <div class = "value">
        <div class="visualizzazioni">
          <%= inline_svg_tag("eye-fill.svg", class: "w-8 h-8") %>
          <p><%= @note.visualizzaziones.count %></p>
        </div>
        <div class="download">
          <%= inline_svg_tag("download.svg", class: "w-8 h-8") %>
          <p><%= @note.downloads %></p>
        </div>
      </div>
      <div class="rating-section mb-4">
        <% if current_user && current_user != @note.user %>
          <div class="d-flex gap-0 BottoniStella justify-content-center">
            <% Note::MAX_RATING.times do |n| %>
              <%= button_to update_rating_path(@note),
              method: :patch,
              params: { note: { rating: n + 1 } },
              class: "border-0 bg-transparent d-flex justify-content-center BottoneSingolo" do %>
                <svg xmlns="http://www.w3.org/2000/svg" id="<%= n + 1 %>" width="16" height="16" fill="currentColor" class="star" viewBox="0 0 16 16">
                  <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                </svg>
              <% end %>
            <% end %>
            <script>
              const rating = <%= @note.rating%>
              const stars = document.querySelectorAll(".star");

              stars.forEach(function(star){
               if (star.id <= rating){
                 star.classList.add("text-warning");
               }
               else {
                 star.classList.add("text-muted");
               }
              })
            </script>
          </div>
        <% else %>
          <div class="d-flex gap-3 BottoniStella justify-content-center">
            <% Note::MAX_RATING.times do |n| %>
              <svg xmlns="http://www.w3.org/2000/svg"  id="<%= n + 1 %>" width="16" height="16" fill="currentColor" class="star" viewBox="0 0 16 16">
                <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
              </svg>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="text-center mb-4">
      <div class="btn-group Drive" role="group" aria-label="Pulsanti">
        <%= link_to  @note.google_drive_link,style: "text-decoration: none; color: black;" do%>
          <div class="google-drive-button">
            <%= image_tag("Google_Drive_logo.png",style: "width: 45px; height: 45px;") %>
            <label class="fw-bold">Link Google Drive</label>
          </div>
        <% end %>
        <% file_extension = @note.format %>
        <% if ['.mp4', '.avi', '.mov'].exclude?(file_extension.downcase) %>
          <div class="download-open">
            <%= image_tag("download.svg",style: "width: 45px; height: 45px;") %>
            <label class="fw-bold" style="color:black;" >Download</label>
          </div>
          <div id="dialog" class="dialog-container ">
            <span class="dialog-close"><%= image_tag("close.svg") %></span>
            <span class="dialog-back" id="back"><%= image_tag("back.png") %></span>
            <% if user_signed_in? %>
              <div class="local-cloud">
                <div class="scarica" id="format1">
                  <%= image_tag("local.svg",style: "width: 45px; height: 45px;",id: "local-img") %><br />
                  <label style="color:white;" class="fw-bold">Locale</label>
                </div>
                <div class="scarica" id="format2">
                  <%= image_tag("cloud.svg",style: "width: 45px; height: 45px;",id: "cloud-img") %><br />
                  <label style="color:white;" class="fw-bold scarica">Drive</label>
                </div>
              </div>
              <label style="color:white;display:none; margin-top:30px;" id="label-format" class="fw-bold">Seleziona il Formato</label>
              <div class="local-cloud" style = "display: none;margin-top: 30px;" id="seleziona_il_formato1">
                <%= link_to download_note_path(@note,format: "pdf"),style: "text-decoration: none;" do %>
                  <div class="scarica">
                    <%= image_tag("pdf.svg",style: "width: 45px; height: 45px;") %><br />
                    <label style="color:white;margin-top: 5px;" class="fw-bold">PDF to Local</label>
                  </div>
                <% end %>
                <%= link_to download_note_path(@note,format: "docx"),style: "text-decoration: none;" do %>
                  <div class="scarica">
                    <%= image_tag("word.svg",style: "width: 45px; height: 45px;") %><br />
                    <label style="color:white; margin-top: 5px;" class="fw-bold">Word to Local</label>
                  </div>
                <% end %>
              </div>
              <% file_extension = @note.format %>
              <% file_id = 0 %>
              <% google_drive_link = @note.google_drive_link %>
              <% if file_extension == ".pdf" %>
                <% file_id = google_drive_link.match(/\/file\/d\/(.+?)\//)[1]   %>
              <% end %>
              <% if file_extension == ".docx" %>
                <% file_id = google_drive_link.match(/\/document\/d\/(.+?)\//)[1]   %>
              <% end %>
              <label style="color:white;display:none; margin-top:30px;" id="label-format" class="fw-bold">Seleziona il Formato</label>
              <div class="local-cloud" style = "display: none;margin-top: 30px;" id="seleziona_il_formato2">
                <%= link_to download_on_my_gd_path(id: @note.id,google_id: file_id, format: "pdf"),style: "text-decoration: none;" do %>
                  <div class="scarica">
                    <%= image_tag("pdf.svg",style: "width: 45px; height: 45px;") %><br />
                    <label style="color:white;margin-top: 5px;" class="fw-bold">PDF to Cloud</label>
                  </div>
                <% end %>
                <%= link_to download_on_my_gd_path(id: @note.id,google_id: file_id,format: "docx"),style: "text-decoration: none;" do %>
                  <div class="scarica">
                    <%= image_tag("word.svg",style: "width: 45px; height: 45px;") %><br />
                    <label style="color:white; margin-top: 5px;" class="fw-bold">Word to Cloud</label>
                  </div>
                <% end %>
              </div>
              <div class="cssload-zenith" id="load" style="margin-top:50px;display:none;" ></div>
            <% else %>
              <p style="color:white;margin-top:12px" class="fw-bold">Esegui il <%= link_to "login", signin_path,style:"color:white;"%> o la <%= link_to "registrazione", signup_path ,style:"color:white;"%> per scaricare il file</p>
            <% end %>
          </div>
        <% else %>
          <div class="download-open">
            <%= link_to video_download_path(@note.id),style: "text-decoration:none;" do %>
              <%= image_tag("download.svg",style: "width: 45px; height: 45px;") %><br/>
              <label class="fw-bold" style="color:black;" >Download</label>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
    <button id="mostraBtn" class="btn " style="background-color: #f77062;color:black;border: 3px solid black;border-radius: 80px">Mostra Informazioni</button>
    <div class="dropright text-center mb-4 hidden" id="contenitoreDiv">
      <div class="dropdown-content row">
        <div class="row">
          <div class="col">
            <h6 class="dropdown-header">Tags:</h6>
            <ul class="list-unstyled tags-topics-list">
              <% @note.tags.each do |tag| %>
                <li class="tag-topic-item"><%= tag.name %></li>
              <% end %>
            </ul>
          </div>
          <div class="col">
            <h6 class="dropdown-header">Topics:</h6>
            <ul class="list-unstyled tags-topics-list">
              <% @note.topics.each do |topic| %>
                <li class="tag-topic-item"><%= topic.name %></li>
              <% end %>
            </ul>
          </div>
          <div class="col">
            <h6 class="dropdown-header">Facoltà:</h6>
            <ul class="list-unstyled tags-topics-list">
              <% if @note.faculty != nil %>
                <li class="tag-topic-item"><%= @note.faculty.name %></li>
              <% end %>
            </div>
          </div>
          <div class="chart">
            <%= pie_chart CreateRating.where(note_id: @note.id).group(:rating).count, width: "200px", height: "200px", 
            donut: true, empty: "Non ci sono valutazioni"%>
          </div>
        </div>
      </div>
      <div class="preview mb-4">
        <% file_extension = @note.format %>
        <% file_id = 0 %>
        <% google_drive_link = @note.google_drive_link %>
        <% if file_extension == ".pdf" || ['.mp4', '.avi', '.mov'].include?(file_extension.downcase) %>
          <% file_id = google_drive_link.match(/\/file\/d\/(.+?)\//)[1]   %>
        <% end %>
        <% if file_extension == ".docx" %>
          <% file_id = google_drive_link.match(/\/document\/d\/(.+?)\//)[1]   %>
        <% end %>
        <% preview_url = "https://drive.google.com/file/d/#{file_id}/preview" %>
        <iframe src="<%= preview_url %>" width="900px" height="600px"></iframe>
      </div>
    </div>
    <div class="chart-comment">
    <div class="comment">
      <h2 class="fw-bold h2_Comment" style="color:black;">Commenti:</h2>
      <% @note.comments.each do |comment| %>
        <p class="commento"><strong>
            <%= comment.user.username %>:</strong>
          <span class="comment-content">
            <%= comment.short_content %>
          </span>
          <% if comment.content.length > 100 %>
            <a href="#" class="read-more" data-full-content="<%= comment.content %>">Mostra altro</a>
          <% end %>
        </p>
      <% end %>
      <%= form_with(model: [@note, @note.comments.build], url: note_comments_path(@note)) do |form| %>
        <%= form.text_area :content, id: 'Commento', placeholder: 'Add a comment',cols: "42.5" %>
        <%= form.submit 'Add comment',class: "btn add_comment",style: "background-color: #f77062;color:black;border: 3px solid black;border-radius: 80px" %>
      <% end %>
    </div>
  </div>
  </div>
  
</div>
<div class="user_box">
  <div class="card1" id="id_card" style="display:none;">
    <div class="message-swap" id="message-swap">
      <% if @note.user.profile_img_url != nil && @note.user.provider != "facebook"%>
        <img src="<%= @note.user.profile_img_url %>" id= "img"  class="card__image" style="border: 5px solid black;">
      <% else %>
        <%= image_tag("avatar.svg",class:'card__image',style:"border: 5px solid black;",id: "img") %>
      <% end %>
      <p class="card__name" ><%= link_to @note.user.username, user_path(@note.user), class: 'cardlink',style: "text-decoration:none;font-weight:bold;" %></p>
      <div class="grid-container">
        <div class="grid-child-posts">
          <%= count = Note.where(user_id: @note.user.id).count%>
          <% if count == 1%>
            <label>Appunto</label>
          <%else%>
            <label>Appunti</label>
          <%end%>
        </div>
        <div class="d-flex gap-1 stelle justify-content-center">
          <% Note::MAX_RATING.times do |n| %>
            <%= inline_svg_tag("star1.svg",
        class: "w-8 h-8 #{staruser_rating_class(@note.user, n)} star-in-card")%>
          <% end %>
        </div>
      </div>
      <% if user_signed_in? && current_user.id != @note.user.id %>
        <button class="btn1 draw-border" id="message-btn">Message</button>
      <% end %>
    </div>
    <div class="message-section" id="message-section" style="display:none;">
    </div>
  </div>
</div>
<div class="user_img" id="click">
  <% if @note.user.profile_img_url != nil && @note.user.provider != "facebook"%>
    <img src="<%= @note.user.profile_img_url %>" id= "img"  class="scrolling-image" style="border: 5px solid black;">
  <% else %>
    <%= image_tag("avatar.svg",class:'scrolling-image',style:"border: 5px solid black;",id: "img") %>
  <% end %>
  <%= inline_svg_tag("online_indicator.svg", id: "indicator") %>
</div>
<script>
  $(document).ready(function() {
    $("#message-btn").click(function(){
    Conversazione();
    });
  });


    function Conversazione(){

    <% if user_signed_in? %>
      var senderId = <%= current_user.id %>;
      var recipientId = <%= @note.user.id %>;

      <% conversation_id = nil %>
      <% Conversation.all.each do |conver| %>
      <% if (conver.sender_id == current_user.id && conver.recipient_id == @note.user.id) %>
          <% conversation_id = conver.id %>
        <% end %>
      <% end %>

      if (<%= conversation_id != nil%>){
        var conversationId = <%= conversation_id%>
        getConversation(conversationId);
      }


      else{
          $.ajax({
            type: 'POST',
            url: '/conversations/create_ajax',
            dataType: 'json',
            data: { sender_id: <%= current_user.id %>, recipient_id: recipientId},
            success: function(response) {

              var conversationId = response.conversation_id;
              getConversation(conversationId);
            },
            error: function() {
              console.error('Errore durante la creazione della conversazione.');
            }
          });
      }
    <% end %>
    }
</script>
<script>
  function getConversation(conversationId){

    var message_section = document.getElementById("message-section");

    let url ="/conversations/" + conversationId + "/messages"

    $.ajax({
      url: url,
      method: "GET",
      success: function(responseHTML) {

        $("#message-section").html(responseHTML);

      },
      error: function(xhr, status, error) {

        console.error(error);
      }
    });
    setTimeout(function(){
    const navs =  document.querySelectorAll(".navbar")[1];

      navs.style.display = "none";
      const styleTag = document.querySelector("link#message_style");
      styleTag.parentNode.removeChild(styleTag);

      message_section.style.display = "flex";


      $("#submitMessage").click(function(){
        localStorage.setItem("OpenClose", 1);
      })
      const scrollList = document.querySelector(".msger-chat")
      scrollToBottom(scrollList);
    },201);

    }
</script>
<script>
  document.addEventListener("DOMContentLoaded", function(){

    var openclose = localStorage.getItem("OpenClose");
    if( openclose == 1){
      const message_swap = document.getElementById("message-swap");
      const card = document.getElementById("id_card");
      card.style.display = "flex";
      message_swap.style.display = "none"
      Conversazione();
      localStorage.setItem("OpenClose", 0);
    }

  })


  function scrollToBottom(list) {
    list.scrollTop = list.scrollHeight;
  }
</script>
<script>
  document.addEventListener("DOMContentLoaded", function() {
      const message_btn = document.getElementById("message-btn");
      const message_swap = document.getElementById("message-swap");

      if (message_btn != null){
        message_btn.addEventListener("click",function(e){
          message_swap.style.display = "none"

        })
      }
  });
</script>
<script>
  document.addEventListener("DOMContentLoaded", function() {
    const stars = document.querySelectorAll(".star-in-card");
    stars.forEach(function(star){
      if(star.classList.contains("text-warning") == false){
        star.classList.add("white-star");
      }
    })
  });
</script>
<script>
  document.addEventListener("DOMContentLoaded", function() {

    const card = document.getElementById("id_card");
    const img = document.getElementById("click");
    const online_indicator = document.getElementById("indicator");

    img.addEventListener("click",function(e){
      if (card.style.display == "none"){
        $(card).slideToggle();
       }
       else{
        $(card).slideToggle();
       }
    });


    if (<%= @note.user.last_seen != nil %> && <%= @note.user.last_seen > 10.minutes.ago %> ){
      online_indicator.classList.add("online1");
      }
    else{
      online_indicator.classList.add("offline1");
      }

    }

  )
</script>
<script>
  document.addEventListener("DOMContentLoaded", function() {
    const selection_format = document.getElementById("format1");
    const other_format = document.getElementById("format2");
    const dialog = document.getElementById("dialog");
    const back_img = document.getElementById("back");
    const seleziona_il_formato1 = document.getElementById("seleziona_il_formato1");
    const label_format = document.getElementById("label-format");
    const load = document.getElementById("load");

    if(selection_format!= null){
      selection_format.addEventListener("click",function(e){
        dialog.style.height = "270px";
        back_img.style.display = "block";
        other_format.style.display = "none";
        seleziona_il_formato1.style.display = "flex";
        label_format.style.display ="block";
      })

      seleziona_il_formato1.addEventListener("click",function(e){
        load.style.display = "flex";
        seleziona_il_formato1.style.display ="none"
        setTimeout(function(){
          load.style.display = "none";
            seleziona_il_formato1.style.display ="flex"
          },2000)
      })

      back_img.addEventListener("click",function(e){
        dialog.style.height = "100px";
        back_img.style.display = "none";
        seleziona_il_formato1.style.display = "none";
        label_format.style.display ="none";
        other_format.style.display = "block"
    })
    }

  })
</script>
<script>
  document.addEventListener("DOMContentLoaded", function() {
    const selection_format = document.getElementById("format2");
    const dialog = document.getElementById("dialog");
    const other_format = document.getElementById("format1");
    const back_img = document.getElementById("back");
    const seleziona_il_formato2 = document.getElementById("seleziona_il_formato2");
    const label_format = document.getElementById("label-format");

    if(selection_format!= null){
      selection_format.addEventListener("click",function(e){
        dialog.style.height = "270px";
        other_format.style.display = "none";
        back_img.style.display = "block";
        seleziona_il_formato2.style.display = "flex";
        label_format.style.display ="block";
    })

      back_img.addEventListener("click",function(e){
        dialog.style.height = "100px";
        back_img.style.display = "none";
        seleziona_il_formato2.style.display = "none";
        label_format.style.display ="none";
        other_format.style.display = "block";
      })
    }


  })
</script>
<script>
  document.addEventListener("DOMContentLoaded", function() {
    var readMoreLinks = document.getElementsByClassName("read-more");

    Array.from(readMoreLinks).forEach(function(link) {
      link.addEventListener("click", function(event) {
        event.preventDefault();
        var contentElement = this.parentNode.querySelector(".comment-content");
        contentElement.textContent = this.getAttribute("data-full-content");
        this.parentNode.removeChild(this);
      });
    });
  });
</script>
<script>
  const mostraBtn = document.getElementById('mostraBtn');
  const contenitoreDiv = document.getElementById('contenitoreDiv');

  const mostraDescrizione = document.getElementById('mostraDescrizione');
  const Descrizione = document.getElementById('Descrizione');

  const box = document.getElementById('box');

  mostraDescrizione.addEventListener('click',function(){
    if (Descrizione.classList.contains('hidden')){
      Descrizione.classList.remove('hidden');
      box.classList.remove('hidden');
      mostraDescrizione.textContent = "Mostra Meno"
    }
    else {
      Descrizione.classList.add('hidden');
      box.classList.add('hidden');
      mostraDescrizione.textContent = "Mostra Descrizione"
    }
  })

  mostraBtn.addEventListener('click', function() {
    if (contenitoreDiv.classList.contains('hidden')) {
      contenitoreDiv.classList.remove('hidden');
      mostraBtn.textContent = "Mostra Meno";
    } else {
      contenitoreDiv.classList.add('hidden');
       mostraBtn.textContent = "Mostra Informazioni";
    }
  });
</script>
<script>
  var mainArea = document.querySelector('.main-area');
  var download_dialog = document.querySelector('.download-open');
  var dialog = document.querySelector('.dialog-container');
  var format_local = document.getElementById("format1");
  var format_cloud = document.getElementById("format2");
  const back_img = document.getElementById("back");

  if (download_dialog != null){
    download_dialog.addEventListener('click',function(event){
      mainArea.style.display = 'block';
      dialog.style.display = 'block';
      format_local.style.display = "block";
      format_cloud.style.display = "block";
    })


    var dialogClose = document.querySelector('.dialog-close');
    const label_format = document.getElementById("label-format");

    dialogClose.addEventListener('click', function(event){
      dialog.style.display = 'none';
      dialog.style.height = '100px';
      mainArea.style.display = 'none';
      seleziona_il_formato1.style.display = "none";
      seleziona_il_formato2.style.display = "none";
      label_format.style.display ="none";
      back_img.style.display = "none";
    });
  }
  document.addEventListener("DOMContentLoaded", function() {

    if (<%=user_signed_in? && @note.user.id != current_user.id%>){

    const stars = document.querySelectorAll(".star");

    function handleMouseOver(event) {
      const starId = event.target.id;

      stars.forEach(function(star) {
        const currentStarId = star.id;

        if(currentStarId <= starId) {
          if(star.classList.contains("text-warning") == false)
          star.classList.add("hover-star");
        }
      });
    }



    function handleMouseOut(event) {
      const starId = event.target.id;



      stars.forEach(function(star) {
        if(star.classList.contains("hover-star")){
        star.classList.remove("hover-star");
      }
      });
    }

    stars.forEach(function(star) {
      star.addEventListener("mouseover", handleMouseOver);
      star.addEventListener("mouseleave", handleMouseOut);
    });
    }
  });
</script>
