<%= stylesheet_link_tag 'ricerca', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= stylesheet_link_tag 'usershow', media: 'all', 'data-turbolinks-track': 'reload' %>
<div class="container text-center pagina">
  <h1 class='boh fw-bold'style="color:black"><strong><%= @user.username%></strong> </h1>
  <p class='boh fw-bold'><%= @user.name %></p>
  <div class="d-flex gap-3 mb-4  justify-content-center" >
    <% Note::MAX_RATING.times do |n| %>
      <%= inline_svg_tag("star.svg",
        class: "w-8 h-8 #{staruser_rating_class(@user, n)}") %>
    <% end %>
  </div>
  <div class="chart">
    <%= pie_chart(Note.where(user_id: @user.id).group(:rating).count)  %>
  </div>
</div>
<div class="container">
  <h1 class="mt-5"style="color:black">Appunti di <%= @user.username %></h1>
  <% @user.notes.each do |note| %>
    <div class="card my-4">
      <div class="card-body">
        <h4 class="card-title">
          <a href="<%= personal_note_path(note.id) %>"><%= note.name %></a>
        </h4>
        <% truncated_description = truncate(note.description, length: 300) %>
          <p class="card-text">
            <span class="truncated"><%= truncated_description %></span>
            <% if note.description.length > 300 %>
              <a href="#" class="read-more" data-full-content="<%= note.description %>">Mostra altro</a>
            <% end %>
          </p>
        <p class="card-text"> Autore: <%= note.user.username %></p>
        <%= link_to  remove_note_path(note), method: :delete, style: "text-decoration: none;", style: "text-decoration: none;", data: { confirm: 'Sei sicuro di voler eliminare l\'appunto?' } do%>
          <%= image_tag("delete.svg",style: "width: 20px; height: 20px; ") %>
        <% end %>
        <%= link_to  note.google_drive_link do%>
          <%= image_tag("Google_Drive_logo.png",style: "width: 20px; height: 20px;") %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
<script>
  document.addEventListener("DOMContentLoaded", function() {
    var readMoreLinks = document.getElementsByClassName("read-more");

    Array.from(readMoreLinks).forEach(function(link) {
      link.addEventListener("click", function(event) {
        event.preventDefault();
        event.stopPropagation();
        var contentElement = this.parentNode.querySelector(".truncated");
        contentElement.textContent = this.getAttribute("data-full-content");
        this.parentNode.removeChild(this);
      });
    });
  });
</script>