<p id="notice"><%= notice %></p>

<h1>Richiesta Admins</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @richiesta_admins.each do |richiesta_admin| %>
      <tr>
        <td><%= richiesta_admin.user_id %></td>
        <td><%= richiesta_admin.content %></td>
        <td><%= link_to 'Show', richiesta_admin %></td>
        <td><%= link_to 'Edit', edit_richiesta_admin_path(richiesta_admin) %></td>
        <td><%= link_to 'Destroy', richiesta_admin, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Richiesta Admin', new_richiesta_admin_path %>
