<!DOCTYPE html>
<html>
  <head>
    <title>ShareYourNotes</title>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <%= csrf_meta_tags %> <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application' %>
    <%= stylesheet_link_tag 'personaleArea', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'chatArea', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag 'chartkick' %>
  </head>
  <script>
    document.addEventListener("DOMContentLoaded", function() {
      var alerts = document.querySelectorAll(".alert");
      alerts.forEach(function(alert) {
        var timeout = alert.dataset.timeout;
        if (timeout) {
          setTimeout(function() {
            alert.classList.remove("show");
          }, timeout);
        }
      });
    });
  </script>
  <body>
    <div class="main-area"></div>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <%= image_tag("book.png",style: "max-width: 2em; max-height: 2em;") %><%= link_to "ShareYourNotes",root_path,class: "navbar-brand" %>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto">
          <li class="nav-item me-3">
            <%= link_to "About",conversations_path,class: "nav-link" %>
          </li>
          <% if user_signed_in? %>
            <li class="nav-item me-3"><%= link_to "Carica Appunti", new_note_path, class:"nav-link" %></li>
            <li class="nav-item me-3"><%= link_to '#' do %><%= image_tag("chat1.svg", id: "chat-button", style: "width: 40px; height: 40px;",class:"nav-link") %><% end %></li>
            <div id="chat-area" class="chat-area">
              <header>
                <h1>Chat</h1>
                <%= image_tag("chat1.svg",style: "margin-left: 20px;width: 20px; height: 20px;margin-top:12px;") %>
                <%= image_tag("close.svg",style: "margin-left: 130px;cursor:pointer;",class: "close-button-chat") %>
              </header>
              <main>
                <section class="contact-list">
                  <h2>Invia un messaggio a:</h2>
                  <%= form_tag(user_search_path, method: "get", class: "search-form", id: "search-form") do %>
                    <div class="input-group" style="margin-bottom: 30px;">
                      <%= text_field_tag :search, params[:search], placeholder: "Cerca utente...", class: "form-control side" %>
                      <%= button_tag type: "submit", class: "btn btn-primary" do %>
                        <%= image_tag("search.svg") %>
                      <% end %>
                    </div>
                  <% end %>
                  <div id="search-results">
                    <!-- Qui verranno visualizzati i risultati della ricerca -->
                  </div>
                  <script>
                    $(document).ready(function() {
                      $('#search-form').submit(function(e) {
                        e.preventDefault(); // Ferma la sottomissione del form normale
                        var formData = $(this).serialize(); // Ottieni i dati del form
                        var url = $(this).attr('action');

                        $.ajax({
                          type: 'GET',
                          url: url,
                          data: formData,
                          dataType: 'json', // Imposta il tipo di dati atteso come JSON
                          success: function(data) {
                            // Aggiorna il contenuto della pagina con i dati ricevuti dal server
                            updateSearchResults(data);
                          },
                          error: function() {
                            // Gestisci gli errori, se necessario
                          }
                        });
                      });
                    });
                  </script>
                  <script>
                    function updateSearchResults(data) {
                      var searchResultsDiv = document.getElementById("search-results");
                      searchResultsDiv.innerHTML = ""; // Svuota il contenuto precedente

                      if (data.length === 0) {
                        searchResultsDiv.innerHTML = "<p>Nessun utente trovato.</p>";
                      } else {
                        var userList = document.createElement("ul");
                        userList.classList.add("ul-contact");

                        data.forEach(function(user) {

                          if (user.id != <%= current_user.id %>){
                            var contactBox = document.createElement("div");
                            contactBox.classList.add("contact-box");

                            var listItem = document.createElement("li");
                            listItem.classList.add("contact");
                            listItem.style.marginTop = "20px"


                            <% conversation_id = nil %>
                            <% Conversation.all.each do |conversation| %>
                             if (<%= conversation.sender_id == current_user.id %> && <%= conversation.recipient_id %> == user.id){
                               <% conversation_id = conversation.id %>;
                             }
                            <% end %>
                            var userLink = document.createElement("a");
                            userLink.href = "/conversations/" + <%= conversation_id %> + "/messages"
                            userLink.style.textDecoration = "none";

                            // Dentro la funzione updateSearchResults
                            var userImage = document.createElement("img");
                            userImage.src = "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='grey' class='bi bi-person-circle' viewBox='0 0 16 16'%3E%3Cpath d='M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z'/%3E%3Cpath fill-rule='evenodd' d='M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z'/%3E%3C/svg%3E";
                            userImage.style.marginLeft = "20px";
                            userImage.style.marginRight = "40px";
                            userImage.style.width = "2em";
                            userImage.style.height = "2em";


                            var contactInfo = document.createElement("div");
                            contactInfo.classList.add("contact-info");

                            var usernameHeader = document.createElement("h3");
                            usernameHeader.id = "username";
                            usernameHeader.style.textDecoration = "none";
                            usernameHeader.textContent = user.username;


                            var onlineStatus = document.createElement("span");
                            <% User.all.each do |user|%>
                              if(user.id == <%= user.id %>){
                                if (user.last_seen != null && <%= user.last_seen > 10.minutes.ago %> ){
                                  var onlineStatus = document.createElement("span");
                                  onlineStatus.classList = "online-indicator online"
                                }
                                else{
                                  onlineStatus.classList = "online-indicator offline"
                                }
                              }
                            <% end %>




                            contactInfo.appendChild(usernameHeader);
                            listItem.appendChild(userImage);
                            listItem.appendChild(contactInfo);
                            listItem.appendChild(onlineStatus);
                            userLink.appendChild(listItem);
                            contactBox.appendChild(userLink);
                            searchResultsDiv.appendChild(contactBox);

                          }
                        });


                        searchResultsDiv.appendChild(userList);
                      }
                    }
                  </script>
                  <% users = User.all %>
                  <h6>Amministratori</h6>
                  <% users.each do |user| %>
                    <% if user.admin == true && user != current_user %>
                      <ul class="ul-contact">
                        <%= link_to conversations_path(sender_id: current_user.id, recipient_id: user.id),style: "text-decoration:none;",method: 'post' do %>
                          <div class="contact-box">
                            <li class="contact">
                              <%= image_tag("avatar.svg",style: "margin-left: 20px; margin-right:40px; width: 2em; height: 2em;") %>
                              <div class="contact-info">
                                <h3 id="username" style="text-decoration:none;"><%= user.username %></h3>
                              </div>
                              <%= user_online_status(user) %>
                            </li>
                          <% end %>
                        </div>
                      </ul>
                    <% end %>
                  <% end %>
                  <% users = User.all %>
                </section>
              </main>
            </div>
          <% end %>
        </ul>
        <ul class="navbar-nav  ms-auto">
          <% if user_signed_in? %>
            <li class="nav-item me-3 downn"><%= link_to "Log out", signout_path, method: :delete, class: "nav-link" %></li>
            <% if current_user.admin %>
              <li class="nav-item me-3 downn"><%= link_to "Admin Dahsboard", admin_dashboard_path, class: "nav-link" %></li>
            <% else %>
              <li class="nav-item me-3 downn"><%= link_to 'Crea richiesta', create_richiesta_admin_richiesta_admins_path,class: "nav-link", method: :post %></li>
            <% end %>
          <% else %>
            <li class="nav-item me-3 downn"><%= link_to "Sign In", signin_path,class: "nav-link"%></li>
            <li class="nav-item me-3 downn"><%= link_to "Sign Up", signup_path,type: "button",class: " btn btn-primary"%></li>
          <% end %>
          <%= form_tag(search_path, method: "get", class: "nav-link search-form") do %>
            <% valueTag = params[:tag] || nil %>
            <% valueTopic = params[:topic] || nil %>
            <div class="input-group">
              <%= text_field_tag :search, params[:search], placeholder: "Cerca...", class: "form-control side" %>
              <%= button_tag type: "button", class: "btn btn-primary", id: "mostraSelect" do %>
                <%= image_tag("filter.svg") %>
              <% end %>
              <%= select_tag :Filtro, options_for_select([
                ["Username", "user"],
                ["Facoltà", "faculty"],
                ["Topic", "topic"],
                ["Tag", "tag"],
                ["Valutazione minima", "rating"],
                ["Caricato dopo il", "after"],
                ["Caricato prima del", "before"],
                ["Ordine alfabetico", "order"]
              ], params[:Filtro]), { class: "form-control", id: "Filtro", style: "display: none;" } %>
              <div id="filtroHide" style="display: none;">
                <div id="dropdown" class="form-group">
                  <div id="user-choice" style="display: none;">
                    <%= text_field_tag :user_search, params[:user_search], placeholder: "Cerca per username", class: "form-control" %>
                  </div>
                  <div id="faculty-choice" style="display: none;">
                    <%= select_tag :faculty, options_from_collection_for_select(Faculty.all, :id, :name, params[:faculty]), prompt: "Scegli una facoltà", class: "form-control", id: "faculty" %>
                  </div>
                  <div id="topic-choice" style="display: none;">
                    <%= select_tag :topic, options_for_select(Topic.distinct.pluck(:name), params[:topic]), prompt: "Scegli uno o più topic", class: "form-control", id: "topic", value: params[:topic] || (params[:Filtro].try(:include?, 'topic') ? nil : valueTopic), multiple: true, size:2 %>
                  </div>
                  <div id="tag-choice" style="display: none;">
                    <%= select_tag :tag, options_for_select(Tag.distinct.pluck(:name), params[:tag]), prompt: "Scegli uno o più tag", class: "form-control", id: "tag", value: params[:tag] || (params[:Filtro].try(:include?, 'tag') ? nil : valueTag), multiple: true, size:2 %>
                  </div>
                  <div id="rating-choice" style="display: none;">
                    <%= select_tag :rating, options_for_select([[1, 1], [2, 2], [3, 3], [4, 4], [5, 5]], params[:rating]), prompt: "Scegli una valutazione", class: "form-control", id: "rating" %>
                  </div>
                  <div id="after-choice" style="display: none;">
                    <%= text_field_tag :after, params[:after], placeholder: "GG-MM-AAAA", class: "form-control", id: "after" %>
                  </div>
                  <div id="before-choice" style="display: none;">
                    <%= text_field_tag :before, params[:before], placeholder: "GG-MM-AAAA", class: "form-control", id: "before" %>
                  </div>
                  <div id="order-choice" style="display: none;">
                    <%= select_tag :order, options_for_select([["Ordine alfabetico", nil], ["A-Z", "asc"], ["Z-A", "desc"]], params[:order]), class: "form-control" %>
                  </div>
                </div>
              </div>
              <script>
                document.addEventListener("DOMContentLoaded", function() {
                const mostraSelect = document.getElementById("mostraSelect");
                const filtroSelect = document.getElementById("Filtro");
                const filtroHide = document.getElementById("filtroHide");

                mostraSelect.addEventListener("click", function() {
                  if (filtroHide.style.display === "none") {
                    filtroHide.style.display = "block";
                    filtroSelect.style.display = "block";
                  } else {
                    filtroHide.style.display = "none";
                    filtroSelect.style.display = "none";
                  }
                });
                });
                document.getElementById("Filtro").addEventListener("change", function() {
                  var valueSelected = this.value;
                  var dropdownChoice = document.getElementById("dropdown");
                  Array.from(dropdownChoice.children).forEach(function(child) {
                    child.style.display = "none";
                  });
                  var selectedChoice = document.getElementById(valueSelected + "-choice");
                  if (selectedChoice) {
                    selectedChoice.style.display = "block";
                  }
                  if (valueSelected === "rating") {
                    showChoice(valueSelected);
                  }
                });
                document.addEventListener("DOMContentLoaded", function() {
                  var valueSelected = document.getElementById("Filtro").value;
                  showChoice(valueSelected);
                });
                function showChoice(value) {
                  var dropdownChoice = document.getElementById("dropdown");
                  Array.from(dropdownChoice.children).forEach(function(child) {
                    child.style.display = "none";
                  });
                  var selectedChoice = document.getElementById(value + "-choice");
                  if (selectedChoice) {
                    selectedChoice.style.display = "block";
                  }
                  if (value === "rating") {
                    document.getElementById("search").value = "";
                  }
                }
                function validateDateInput() {
                  var afterInput = document.getElementById("after");
                  var beforeInput = document.getElementById("before");

                  var afterValue = afterInput.value.trim();
                  var beforeValue = beforeInput.value.trim();

                  if (afterValue === "" && beforeValue === "") {
                    return true;
                  }
                  if (afterValue !== "" && !isValidDate(afterValue)) {
                    return false;
                  }
                  if (beforeValue !== "" && !isValidDate(beforeValue)) {
                    return false;
                  }
                  return true;
                }
                function isValidDate(dateString) {
                  var datePattern = /^\d{2}-\d{2}-\d{4}$/;
                  if (!datePattern.test(dateString)) {
                    alert("Data inserita in modo errato, formato corretto: GG-MM-AAAA");
                    return false;
                  }
                  var p = dateString.split("-");
                  var d = parseInt(p[0], 10);
                  var m = parseInt(p[1], 10);
                  var y = parseInt(p[2], 10);
                  var isValid = true;
                  if (d < 1 || d > 31 || isNaN(d)) {
                    alert("Giorno inserito errato");
                    isValid = false;
                  }
                  if (m < 1 || m > 12 || isNaN(m)) {
                    alert("Mese inserito errato");
                    isValid = false;
                  }
                  if (!isValid) {
                    return false;
                  }
                  var date = new Date(y, m - 1, d);
                  if (isNaN(date.getTime())) {
                    return false;
                  }
                  return true;
                }
              </script>
              <%= button_tag type: "submit", class: "btn btn-primary", onclick: "return validateDateInput()" do %>
                <%= image_tag("search.svg") %>
              <% end %>
            </div>
          <% end %>
          <% if user_signed_in? %>
            <%= link_to '#' do %>
              <li class="nav-item me-3 downn">
                <%= image_tag("person_fill.svg", id: "personal-button", class: "btn btn-primary", style: "width: 3.2em; height: 100%;") %>
              </li>
            <% end %>
            <div id="personal-area" class="personal-area hidden">
              <span class="close-button">&#10006;</span>
              <h1>Informazioni utente</h1>
              <p><strong>Username:</strong> <%= current_user.username %></p>
              <p><strong>Name:</strong> <%= current_user.name %></p>
              <p><strong>Email:</strong> <%= current_user.email %></p>
              <div class="all-button-container">
                <%= link_to "Preferiti", favourite_path, class: "mybtn mybtn-primary btn-block button-block" %>
                <%= link_to "Miei Appunti", my_notes_path, class: "mybtn mybtn-primary btn-block button-block" %>
                <%= link_to "Recenti", recent_path, class: "mybtn mybtn-primary btn-block button-block" %>
                <%= link_to "Classifica", best_path, class: "mybtn mybtn-primary btn-block button-block" %>
                <div class="button-container">
                  <%= link_to edit_user_path(current_user), style: "text-decoration: none;" do%>
                    <%= image_tag("edit.svg",style: "width: 100px; height: 45px; ") %>
                  <% end %>
                  <%= link_to user_path(current_user), method: :delete, style: "text-decoration: none;", data: { confirm: 'Sei sicuro di voler eliminare il tuo account?' } do%>
                    <%= image_tag("delete.svg",style: "width: 100px; height: 45px; ") %>
                  <% end %>
                </div>
              </div>
            </div>
            <script>
              document.addEventListener('DOMContentLoaded', function() {
                var personalArea = document.getElementById('personal-area');
                var personalButton = document.getElementById('personal-button');
                var closeButton = document.querySelector('.close-button');

                var chatArea = document.getElementById('chat-area');
                var chatButton = document.getElementById('chat-button');
                var closeButtonchat = document.querySelector('.close-button-chat');

                var mainArea = document.querySelector('.main-area');

                personalButton.addEventListener('click', function(event) {
                  event.preventDefault();
                  personalArea.classList.toggle('hidden');
                  mainArea.style.display = 'block';
                });
                closeButton.addEventListener('click', function(event) {
                  personalArea.classList.add('hidden');
                  mainArea.style.display = 'none';
                });
                chatButton.addEventListener('click', function(event) {
                  event.preventDefault();
                  chatArea.classList.add('chat-hidden');
                  mainArea.style.display = 'block';
                });
                closeButtonchat.addEventListener('click', function(event) {
                  chatArea.classList.toggle('chat-hidden');
                  mainArea.style.display = 'none';
                });
              });
            </script>
          <% end %>
        </ul>
      </div>
    </nav>
    <% flash.each do |name, message| %>
      <% if current_user.present? %>
        <% message.chomp!('.') if message.ends_with?('.') %>
        <% if message.starts_with?("Signed") %>
          <% message += " #{current_user.username}" %>
        <% end %>
        <%= content_tag(:div,message, class: "alert alert-info alert-#{name} fade show",data: { dismiss: "alert", timeout: 3000 }) %>
      <% end %>
    <% end %>
    <%= yield %>
  </body>
</html>
