<!DOCTYPE html>

<html>
  <head>
    <title>ShareYourNotes</title>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <%= csrf_meta_tags %> <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application' %>
    <%= stylesheet_link_tag 'personaleArea', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'chatArea', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application' %>
  </head>
  <script>
    document.addEventListener("DOMContentLoaded", function() {
      var alerts = document.querySelectorAll(".alert");
      alerts.forEach(function(alert) {
        var timeout = alert.dataset.timeout;
        if (timeout) {
          setTimeout(function() {
            alert.classList.remove("show");
          }, timeout);
        }
      });
    });
  </script>
  <body>
    <div class="main-area"></div>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <%= image_tag("book.png",style: "max-width: 2em; max-height: 2em;") %><%= link_to "ShareYourNotes",root_path,class: "navbar-brand" %>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto">
          <li class="nav-item me-3">
            <%= link_to "About",conversations_path,class: "nav-link" %>
          </li>
          <% if user_signed_in? %>
            <li class="nav-item me-3"><%= link_to "Carica Appunti", new_note_path, class:"nav-link" %></li>
            <li class="nav-item me-3"><%= link_to '#' do %><%= image_tag("chat1.svg", id: "chat-button", style: "width: 40px; height: 40px;",class:"nav-link") %><% end %></li>
            <div id="chat-area" class="chat-area ">
              <span class="close-button-chat">&#10006;</span>
              <div class="header-chat">
                <h1 class="chat">Chat</h1>
                <%= image_tag("chat2.svg",style: "width: 2em; height: 2em;") %>
              </div>
              <div class="Administrator-overflow">
                <% users = User.all %>
                <h5 class="switch">Administrator</h5>
                <% users.each do |user|%>
                  <% if user.admin == true && user != current_user%>
                    <ul class="list-User">
                      <li class="elem"><%= user.username %></li>
                      <li class="elem "><%= link_to 'Message me', conversations_path(sender_id: current_user.id, recipient_id: user.id), method: 'post' ,class: "a btn btn-primary  d-flex justify-content-center align-items-center"%></li>
                    </ul>
                  <% end%>
                <% end%>
              </div>
              <div class="User-overflow">
                <% users = User.all %>
                <h5 class="switch">User</h5>
                <% users.each do |user|%>
                  <% if user.admin == false && user != current_user%>
                    <ul class="list-User">
                      <li class="elem"><%= user.username %></li>
                      <li class="elem "><%= link_to 'Message me', conversations_path(sender_id: current_user.id, recipient_id: user.id), method: 'post' ,class: "a btn btn-primary  d-flex justify-content-center align-items-center"%></li>
                    </ul>
                  <% end%>
                <% end%>
              </div>
            </div>
          <% end %>
        </ul>
        <ul class="navbar-nav  ms-auto">
          <% if user_signed_in? %>
            <li class="nav-item me-3 downn"><%= link_to "Log out", signout_path, method: :delete, class: "nav-link" %></li>
            <% if current_user.admin %>
              <li class="nav-item me-3 downn"><%= link_to "Admin Dahsboard", admin_dashboard_path, class: "nav-link" %></li>
            <% else %>
              <li class="nav-item me-3 downn"><%= link_to 'Crea richiesta', create_richiesta_admin_richiesta_admins_path,class: "nav-link", method: :post %></li>
            <% end %>
          <% else %>
            <li class="nav-item me-3 downn"><%= link_to "Sign In", signin_path,class: "nav-link"%></li>
            <li class="nav-item me-3 downn"><%= link_to "Sign Up", signup_path,type: "button",class: " btn btn-primary"%></li>
          <% end %>
          <%= form_tag(search_path, method: "get", class: "nav-link search-form") do %>
            <% valueTag = params[:tag] || nil %>
            <% valueTopic = params[:topic] || nil %>
            <div class="input-group">
              <%= text_field_tag :search, params[:search], placeholder: "Cerca...", class: "form-control side" %>
              <%= select_tag :Filtro, options_for_select([
                  ["Filtra", ""],
                  ["Username", "user"],
                  ["Facoltà", "faculty"],
                  ["Topic", "topic"],
                  ["Tag", "tag"],
                  ["Valutazione", "rating"],
                  ["Caricato dopo il", "after"],
                  ["Caricato prima del", "before"],
                  ["Ordine alfabetico", "order"]
                ], params[:Filtro]), { class: "form-control", id: "Filtro" } %>
              <div id="dropdown" class="form-group">
                <div id="user-choice" style="display: none;">
                  <%= text_field_tag :user_search, params[:user_search], placeholder: "Cerca per username", class: "form-control" %>
                </div>
                <div id="faculty-choice" style="display: none;">
                  <%= select_tag :faculty, options_from_collection_for_select(Faculty.all, :id, :name, params[:faculty]), prompt: "Scegli una facoltà", class: "form-control", id: "faculty" %>
                </div>
                <div id="topic-choice" style="display: none;">
                  <%= select_tag :topic, options_for_select(Topic.distinct.pluck(:name), params[:topic]), prompt: "Scegli uno o più topic", class: "form-control", id: "topic", value: params[:topic] || (params[:Filtro].try(:include?, 'topic') ? nil : valueTopic), multiple: true, size:2 %>
                </div>
                <div id="tag-choice" style="display: none;">
                  <%= select_tag :tag, options_for_select(Tag.distinct.pluck(:name), params[:tag]), prompt: "Scegli uno o più tag", class: "form-control", id: "tag", value: params[:tag] || (params[:Filtro].try(:include?, 'tag') ? nil : valueTag), multiple: true, size:2 %>
                </div>
                <div id="rating-choice" style="display: none;">
                  <%= select_tag :rating, options_for_select([[1, 1], [2, 2], [3, 3], [4, 4], [5, 5]], params[:rating]), prompt: "Scegli una valutazione", class: "form-control", id: "rating" %>
                </div>
                <div id="after-choice" style="display: none;">
                  <%= text_field_tag :after, params[:after], placeholder: "GG-MM-AAAA", class: "form-control", id: "after" %>
                </div>
                <div id="before-choice" style="display: none;">
                  <%= text_field_tag :before, params[:before], placeholder: "GG-MM-AAAA", class: "form-control", id: "before" %>
                </div>
                <div id="order-choice" style="display: none;">
                  <%= select_tag :order, options_for_select([["Ordine alfabetico", nil], ["A-Z", "asc"], ["Z-A", "desc"]], params[:order]), class: "form-control" %>
                </div>
              </div>
              <script>
                document.getElementById("Filtro").addEventListener("change", function() {
                  var valueSelected = this.value;
                  var dropdownChoice = document.getElementById("dropdown");
                  Array.from(dropdownChoice.children).forEach(function(child) {
                    child.style.display = "none";
                  });
                  var selectedChoice = document.getElementById(valueSelected + "-choice");
                  if (selectedChoice) {
                    selectedChoice.style.display = "block";
                  }
                  if (valueSelected === "rating") {
                    showChoice(valueSelected);
                  }
                });
                document.addEventListener("DOMContentLoaded", function() {
                  var valueSelected = document.getElementById("Filtro").value;
                  showChoice(valueSelected);
                });
                function showChoice(value) {
                  var dropdownChoice = document.getElementById("dropdown");
                  Array.from(dropdownChoice.children).forEach(function(child) {
                    child.style.display = "none";
                  });
                  var selectedChoice = document.getElementById(value + "-choice");
                  if (selectedChoice) {
                    selectedChoice.style.display = "block";
                  }
                  if (value === "rating") {
                    document.getElementById("search").value = "";
                  }
                }
                function validateDateInput() {
                  var afterInput = document.getElementById("after");
                  var beforeInput = document.getElementById("before");

                  var afterValue = afterInput.value.trim();
                  var beforeValue = beforeInput.value.trim();

                  if (afterValue === "" && beforeValue === "") {
                    return true;
                  }
                  if (afterValue !== "" && !isValidDate(afterValue)) {
                    return false;
                  }
                  if (beforeValue !== "" && !isValidDate(beforeValue)) {
                    return false;
                  }
                  return true;
                }
                function isValidDate(dateString) {
                  var datePattern = /^\d{2}-\d{2}-\d{4}$/;
                  if (!datePattern.test(dateString)) {
                    alert("Data inserita in modo errato, formato corretto: GG-MM-AAAA");
                    return false;
                  }
                  var p = dateString.split("-");
                  var d = parseInt(p[0], 10);
                  var m = parseInt(p[1], 10);
                  var y = parseInt(p[2], 10);
                  var isValid = true;
                  if (d < 1 || d > 31 || isNaN(d)) {
                    alert("Giorno inserito errato");
                    isValid = false;
                  }
                  if (m < 1 || m > 12 || isNaN(m)) {
                    alert("Mese inserito errato");
                    isValid = false;
                  }
                  if (!isValid) {
                    return false;
                  }
                  var date = new Date(y, m - 1, d);
                  if (isNaN(date.getTime())) {
                    return false;
                  }
                  return true;
                }
              </script>
              <%= submit_tag "Cerca", class: "btn btn-primary", onclick: "return validateDateInput()" %>
            </div>
          <% end %>
          <% if user_signed_in? %>
            <%= link_to "Area personale", "#", id: "personal-button", class: "btn btn-primary d-flex justify-content-center align-items-center" %>
            <div id="personal-area" class="personal-area hidden">
              <span class="close-button">&#10006;</span>
              <h1>Informazioni utente</h1>
              <p><strong>Username:</strong> <%= current_user.username %></p>
              <p><strong>Name:</strong> <%= current_user.name %></p>
              <p><strong>Email:</strong> <%= current_user.email %></p>
              <div class="all-button-container">
                <%= link_to "Preferiti", favourite_path, class: "mybtn mybtn-primary btn-block button-block" %>
                <%= link_to "Miei Appunti", my_notes_path, class: "mybtn mybtn-primary btn-block button-block" %>
                <div class="button-container">
                  <%= link_to 'Modifica Profilo', edit_user_path(current_user), class: "mybtn mybtn-warning pr-3" %>
                  <%= link_to 'Elimina Account', user_path(current_user), method: :delete, data: { confirm: 'Sei sicuro di voler eliminare il tuo account?' }, class: "mybtn mybtn-danger" %>
                </div>
              </div>
            </div>
            <script>
              document.addEventListener('DOMContentLoaded', function() {
                var personalArea = document.getElementById('personal-area');
                var personalButton = document.getElementById('personal-button');
                var closeButton = document.querySelector('.close-button');

                var chatArea = document.getElementById('chat-area');
                var chatButton = document.getElementById('chat-button');
                var closeButtonchat = document.querySelector('.close-button-chat');

                var mainArea = document.querySelector('.main-area');

                personalButton.addEventListener('click', function(event) {
                  event.preventDefault();
                  personalArea.classList.toggle('hidden');
                  mainArea.style.display = 'block';
                });
                closeButton.addEventListener('click', function(event) {
                  personalArea.classList.add('hidden');
                  mainArea.style.display = 'none';
                });
                chatButton.addEventListener('click', function(event) {
                  event.preventDefault();
                  chatArea.classList.add('chat-hidden');
                  mainArea.style.display = 'block';
                });
                closeButtonchat.addEventListener('click', function(event) {
                  chatArea.classList.toggle('chat-hidden');
                  mainArea.style.display = 'none';
                });
              });
            </script>
          <% end %>
        </ul>
      </div>
    </nav>
    <% flash.each do |name, message| %>
      <% if current_user.present? %>
        <% message.chomp!('.') if message.ends_with?('.') %>
        <% if message.starts_with?("Signed") %>
          <% message += " #{current_user.username}" %>
        <% end %>
        <%= content_tag(:div,message, class: "alert alert-info alert-#{name} fade show",data: { dismiss: "alert", timeout: 3000 }) %>
      <% end %>
    <% end %>
    <%= yield %>
  </body>
</html>
