<!DOCTYPE html>
<html>
  <head>
    <title>SharesYourNotes</title>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <%= csrf_meta_tags %> <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application' %>
    <%= javascript_include_tag 'application' %>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#"><%= image_tag("book.png",style: "max-width: 2em; max-height: 2em;") %>SharesYourNotes</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto">
          <li class="nav-item active me-3">
            <%= link_to "Home",root_path,class: "nav-link" %>
          </li>
          <li class="nav-item me-3">
            <%= link_to "About",about_path,class: "nav-link" %>
          </li>
           <% if user_signed_in? %>
            <li class="nav-item me-3"><%= link_to "Carica Appunti", new_note_path, class:"nav-link" %></li>
          <% end %>
        </ul>
        <ul class="navbar-nav  ms-auto">
          <% if user_signed_in? %>
            <li class="nav-item me-3"><%= link_to "Log out", signout_path, method: :delete, class: "nav-link" %></li>
            <% if current_user.admin %>
              <li class="nav-item me-3"><%= link_to "Admin Dahsboard", admin_dashboard_path, class: "nav-link" %></li>
            <% else %>
              <li class="nav-item me-3"><%= link_to 'Crea richiesta', create_richiesta_admin_richiesta_admins_path,class: "nav-link", method: :post %></li>
            <% end %>
          <% else %>
            <li class="nav-item me-3"><%= link_to "Sign In", signin_path,class: "nav-link"%></li>
            <li class="nav-item me-3"><%= link_to "Sign Up", signup_path,type: "button",class: " btn btn-primary"%></li>
          <% end %>
          <%= form_tag(search_path, method: "get", class: "nav-link search-form") do %>
            <% valueTag = params[:tag] || nil %>
            <% valueTopic = params[:topic] || nil %>
            <div class="input-group">
              <%= text_field_tag :search, params[:search], placeholder: "Cerca...", class: "form-control side" %>
              <%= select_tag :Filtro, options_for_select([
                  ["Filtra", ""],
                  ["Utente", "user"],
                  ["Facoltà", "faculty"],
                  ["Topic", "topic"],
                  ["Tag", "tag"],
                  ["Caricato dopo il", "after"],
                  ["Caricato prima del", "before"],
                  ["Ordine alfabetico", "order"]
                ], params[:Filtro]), { class: "form-control", id: "Filtro" } %>
              <div id="dropdown" class="form-group">
                <div id="topic-choice" style="display: none;">
                  <%= select_tag :topic, options_for_select(Topic.distinct.pluck(:name), params[:topic]), prompt: "Seleziona un topic", class: "form-control", id: "topic", value: params[:topic] || (params[:Filtro].try(:include?, 'topic') ? nil : valueTopic), multiple: true, size:2 %>
                </div>
                <div id="user-choice" style="display: none;">
                  <%= text_field_tag :user_search, params[:user_search], placeholder: "Cerca per utente...", class: "form-control" %>
                </div>
                <div id="faculty-choice" style="display: none;">
                  <%= select_tag :faculty, options_from_collection_for_select(Faculty.all, :id, :name, params[:faculty]), prompt: "Seleziona una facoltà", class: "form-control", id: "faculty" %>
                </div>
                <div id="tag-choice" style="display: none;">
                  <%= select_tag :tag, options_for_select(Tag.distinct.pluck(:name), params[:tag]), prompt: "Seleziona un tag", class: "form-control", id: "tag", value: params[:tag] || (params[:Filtro].try(:include?, 'tag') ? nil : valueTag), multiple: true, size:2 %>
                </div>
                <div id="after-choice" style="display: none;">
                  <%= text_field_tag :after, params[:after], placeholder: "GG-MM-AAAA", class: "form-control", id: "after" %>
                </div>
                <div id="before-choice" style="display: none;">
                  <%= text_field_tag :before, params[:before], placeholder: "GG-MM-AAAA", class: "form-control", id: "before" %>
                </div>
                <div id="order-choice" style="display: none;">
                  <%= select_tag :order, options_for_select([["Ordine alfabetico", nil], ["A-Z", "asc"], ["Z-A", "desc"]], params[:order]), class: "form-control" %>
                </div>
              </div>
              <script>
                document.getElementById("Filtro").addEventListener("change", function() {
                  var valueSelected = this.value;
                  var dropdownChoice = document.getElementById("dropdown");
                  Array.from(dropdownChoice.children).forEach(function(child) {
                    child.style.display = "none";
                  });
                  var selectedChoice = document.getElementById(valueSelected + "-choice");
                  if (selectedChoice) {
                    selectedChoice.style.display = "block";
                  }
                });

                document.addEventListener("DOMContentLoaded", function() {
                  var valueSelected = document.getElementById("Filtro").value;
                  showChoice(valueSelected);
                });

                function showChoice(value) {
                  var dropdownChoice = document.getElementById("dropdown");
                  Array.from(dropdownChoice.children).forEach(function(child) {
                    child.style.display = "none";
                  });
                  var selectedChoice = document.getElementById(value + "-choice");
                  if (selectedChoice) {
                    selectedChoice.style.display = "block";
                  }
                }
                function validateDateInput() {
                  var afterInput = document.getElementById("after");
                  var beforeInput = document.getElementById("before");

                  var afterValue = afterInput.value.trim();
                  var beforeValue = beforeInput.value.trim();

                  if (afterValue === "" && beforeValue === "") {
                    return true;
                  }
                  if (afterValue !== "" && !isValidDate(afterValue)) {
                    return false;
                  }
                  if (beforeValue !== "" && !isValidDate(beforeValue)) {
                    return false;
                  }
                  return true;
                }

                function isValidDate(dateString) {
                  var datePattern = /^\d{2}-\d{2}-\d{4}$/;
                  if (!datePattern.test(dateString)) {
                    alert("Data inserita in modo errato, formato corretto: GG-MM-AAAA");
                    return false;
                  }

                  var p = dateString.split("-");
                  var d = parseInt(p[0], 10);
                  var m = parseInt(p[1], 10);
                  var y = parseInt(p[2], 10);

                  var isValid = true;

                  if (d < 1 || d > 31 || isNaN(d)) {
                    alert("Giorno inserito errato");
                    isValid = false;
                  }

                  if (m < 1 || m > 12 || isNaN(m)) {
                    alert("Mese inserito errato");
                    isValid = false;
                  }

                  if (!isValid) {
                    return false;
                  }

                  var date = new Date(y, m - 1, d);
                  if (isNaN(date.getTime())) {
                    return false;
                  }

                  return true;
                }
              </script>
              <style>
                .form-control.side {
                  border-radius: 5px 0 0 5px;
                }
                .form-control {
                  border-radius: 0;
                }
              </style>
              <%= submit_tag "Cerca", class: "btn btn-primary", onclick: "return validateDateInput()" %>
            </div>
          <% end %>
          <% if user_signed_in? %>
            <%= link_to "Area personale", "#", id: "personal-button", class: "btn btn-primary" %>
            <div id="personal-area" class="personal-area hidden">
              <span class="close-button">&#10006;</span> 
              <h1>Informazioni utente</h1>
              <p><strong>Nome:</strong> <%= current_user.name %></p>
              <p><strong>Email:</strong> <%= current_user.email %></p>
              <%= link_to "Preferiti", favourite_path, class: "btn btn-primary" %>
            </div>
            <style>
              .personal-area {
                position: fixed;
                top: 0;
                right: 0;
                width: 300px;
                height: 100%;
                background-color: #f1f1f1;
                z-index: 999;
                transition: transform 0.3s ease-in-out;
              }

              .hidden {
                transform: translateX(100%);
              }

              .close-button {
                position: absolute;
                top: 10px;
                right: 10px;
                cursor: pointer;
                font-size: 20px;
              }
            </style>
            <script>
              document.addEventListener('DOMContentLoaded', function() {
                var personalArea = document.getElementById('personal-area');
                var personalButton = document.getElementById('personal-button');
                var closeButton = document.querySelector('.close-button');

                personalButton.addEventListener('click', function(event) {
                  event.preventDefault();
                  personalArea.classList.toggle('hidden');
                });

                closeButton.addEventListener('click', function(event) {
                  personalArea.classList.add('hidden');
                });
              });
              var preferitiButton = document.getElementById('preferiti-button');

preferitiButton.addEventListener('click', function(event) {
  event.preventDefault();
  personalArea.classList.remove('hidden');
});

            </script>
          <% end %>
        </ul>
      </div>
    </nav>
    <% flash.each do |name, message| %>
      <% if current_user.present? %>
        <% message.chomp!('.') if message.ends_with?('.') %>
        <% if message.starts_with?("Signed") %>
          <% message += " #{current_user.username}" %>
        <% end %>
        <%= content_tag(:div,message, class: "alert alert-info alert-#{name} fade show") %>
      <% end %>
    <% end %>
    <%= yield %>
  </body>
</html>
